/*Reseteo*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Fuentes*/

@font-face {
    font-family: 'Abril';
    src: url(../assets/fonts/AbrilFatface-Regular.ttf);
}

@font-face {
    font-family: 'Poppins';
    src: url(../assets/fonts/Poppins-Regular.ttf);
}

/*
font-family: 'Abril', serif;
font-family: 'Poppins', sans-serif;
*/


/* Estilos del Navbar */

.contenedor-de-imagen {
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 0;
}

.logo-navbar {
    height: 100%;
}


body {
    font-family: 'Poppins';
    background-color: #0c181d;
    color: #fffffa;
    background-image: url(../assets/images/fondonave.jpg);
    background-size: contain;
}


.bg-darkred {
    background-color: #88303e;
    color: #C9CEBD;
    font-family: "Abril";
    font-size: 24px;
    border-bottom: 2px solid #0c181d;
}

.offcanvas-header {
    background-color: #4a242e;
    color: #0c181d;
}

.nav-link {
    color: #C9CEBD;
    border-bottom: 10px solid transparent;
}

.nav-link:hover {
    border-bottom: 10px solid #0c181d;
}

/* Estilos del main */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-family: "Abril";
    color: #C9CEBD;
    font-size: 70px;
    align-self: center;
    text-align: center;
    border: solid 2px #88303E;
    width: 80%;
    margin: 10px;
}

h1:hover {
    background-color: #88303f7a;
}

/* Estilos del Hero Section */

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Estilos del Hero Card */

.hero-card {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    height: auto;
    padding: 10px;
    margin-top: 40px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #C9CEBD;
    border: 3px solid #88303E;
    border-radius: 10px;
}

.carousel-item img {
    border-radius: 10px;
}

.hero-carousel {
    height: 100%;
    width: 48%;
}

.hero-card:hover {
    background-color: #0d25309f;
}

/* Estilos del Hero Bilboard */

.hero-bilboard {
    height: 100%;
    width: 48%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 100px 20px 10px 80px;
}

.otoño-bilboard {
    font-family: "abril";
    color: #C9CEBD;
    font-size: 110px;
    margin-bottom: 0;
    padding: 0;
    line-height: 0.7;
}

.invierno-bilboard {
    font-family: "abril";
    color: #C9CEBD;
    font-size: 91px;
    margin-bottom: 0;
    padding: 0;
    line-height: 0.7;
}

.año-bilboard {
    font-family: "abril";
    color: #C9CEBD;
    font-size: 120px;
    margin-bottom: 0;
    padding: 0;
    line-height: 0.7;
}

.hero-bilboard p {
    font-family: "poppins";
    font-size: 25px;
    color: #C9CEBD;
    margin-top: 40px;
    text-align: center
}

.btn-primary {
    background-color: #88303E;
    color: #C9CEBD;
    font-size: 30px;
    border-radius: 2px;
    border: 2px solid transparent;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn:active {
    background-color: #0c181d;
    color: #C9CEBD;
    border: 2px solid #4a242e;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    background-color: #0c181d;
    color: #C9CEBD;
    border: 2px solid #4a242e;
}

/* Estilos del banner */

.banner h2 {
    font-family: "abril";
    color: #C9CEBD;
    font-size: 60px;
    text-align: center;
}

/* Estilos del Sidekick */

.sidekick {
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    height: 520px;
    width: 320px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 2px solid #88303E;
    color: #C9CEBD;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.card .btn-primary {
    font-size: 20px;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card-title {
    font-weight: bold;
}

.card:hover {
    background-color: #0d25309f;
}

/* Estilos de los extras */

.extras {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    width: 100%;
}

.poster {
    display: flex;
    margin: 20px 0;
    width: 48%;
}


.poster-img {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.poster-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.poster-text {
    background-color: #111;
    opacity: 0.5;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.player {
    width: 100%;
    height: 100%;
}

.player h2 {
    font-family: 'abril';
    font-size: 40px;
    color: #C9CEBD;
    justify-content: center;
}

/* Estilos del footer */

footer {
    margin-top: 60px;
    bottom: 0;
    width: 100%;
    background-color: #88303e;
    color: #fffffa;
    height: 100vh;
    font-size: 15px;
    height: 150px;
}

.footer-content {
    display: flex;
    gap: 20px;
    padding: 40px;
    justify-content: space-around;
}

/* Estilos de la galería */

.box {
    width: 100%;
    height: 100%;
    max-height: 350px;
    position: relative;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: 8px;
    border: 1px solid white;
}

.box h2 {
    position: absolute;
    align-self: flex-start;
    font-family: 'Poppins';
    color: #C9CEBD;
    background-color: #88303E;
    border-radius: 3px;
    border: 2px solid transparent;
    font-size: 30px;
    padding: 5px;
    margin: 10px;
    
}

.box img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
}

.box .btn-galery {
    margin: 10px;
    padding: 5px;
    position: absolute;
    /* width: 48%; */
    justify-self: end;
    align-self: flex-start;
    background-color: transparent;
    color: transparent;
    border: 2px solid transparent;
    font-family: 'Poppins';
    font-size: 30px;
}

.b1 {
    grid-area: a1;
}

.b2 {
    grid-area: a2;
}

.b3 {
    grid-area: a3;
}

.b4 {
    grid-area: a4;
}

.b5 {
    grid-area: a5;
}

.b6 {
    grid-area: a6;
}

.b7 {
    grid-area: a7;
}

.b8 {
    grid-area: a8;
}

.b9 {
    grid-area: a9;
}

.b10 {
    grid-area: a10;
}

.b11 {
    grid-area: a11;
}

.b12 {
    grid-area: a12;
}

.grid {
    border: 3px solid #88303E;
    border-radius: 8px;
    margin-top: 40px;
    padding: 15px;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 15px;
    grid-template-areas:
        'a1 a2 a3'
        'a4 a5 a6'
        'a7 a8 a9'
        'a10 a11 a12';
}

.box:hover {
    h2 {
        color: transparent;
        background-color: transparent;
    }

    .btn-galery {
        margin: 10px;
        padding: 5px;
        position: absolute;
        /* width: 48%; */
        justify-self: end;
        align-self: end;
        background-color: #88303E;
        border: 2px solid transparent;
        color: #C9CEBD;
        font-size: 30px;
    }

    .btn-galery:hover {
        background-color: #0c181d;
        color: #C9CEBD;
        border: 2px solid #4a242e;
    }

}

.goods-details {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.item-card {
    display: flex;
    flex-direction: column;
    width: 320px;
    padding: 0;
    margin: 0;
    background-color: #4a242e9a;
    border: 2px solid #88303E;
    border-radius: 8px;
    color: #C9CEBD;
    text-align: center;
    gap: 5px;
}

.item-card h2 {
    font-weight: bold;
    font-size: 28px;
    justify-self:flex-start;
}